<template>
    <div class="modal">
        <div class="modal__dialog col-md-6 col-md-offset-3">
            <div class="modal__dialog__content">
                <div class="modal__dialog__content__body">
                    <pre>{{ pretty }}</pre>
                </div>
                <div class="modal__dialog__content__footer">
                    <button type="button" class="btn btn-primary" @click="agree">OK</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "modal",
        computed: {
            pretty() {
                return JSON.stringify(this.filters, null, 2);
            }
        },
        props: {
            filters: {
                type: Object,
                required: true
            },
        },
        methods: {
            agree: function () {
                this.$emit('closeModal');
            }
        }
    }
</script>

<style scoped>
    .modal {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 99999;
        background-color: rgba(0, 0, 0, .5);
        top: 0;
        left: 0;
    }
    .modal__dialog {
        background-color: #fff;
        padding: 25px;
        max-height: 90%;
        overflow-y: scroll;
    }
</style>