<template>
    <div class="filters">
      <h2 class="filter-header">Aybenfarbe</h2>
      <CheckboxesColored :title="'Available colours'" :type="'color'" :checkboxes="colors"/>
    </div>
</template>

<script>
import CheckboxesColored from './filters/CheckboxesColored'

export default {
  name: 'CarColor',
  data:() => ({
    colors: [
      {
        id: 1,
        name: 'Schwarz',
        class: 'black'
      },
      {
        id: 2,
        name: 'Grau',
        class: 'grey'
      },
      {
        id: 3,
        name: 'Blau',
        class: 'blue'
      },
      {
        id: 4,
        name: 'Grun',
        class: 'green'
      },
      {
        id: 5,
        name: 'Braun',
        class: 'brown'
      },
      {
        id: 6,
        name: 'Belge',
        class: 'light-brown'
      },
      {
        id: 7,
        name: 'Geld',
        class: 'yellow'
      },
      {
        id: 8,
        name: 'Gold',
        class: 'gold'
      },
      {
        id: 9,
        name: 'Orange',
        class: 'orange'
      },
      {
        id: 10,
        name: 'Rot',
        class: 'red'
      },
      {
        id: 11,
        name: 'Violet',
        class: 'violet'
      },
      {
        id: 12,
        name: 'Silver',
        class: 'silver'
      },
      {
        id: 13,
        name: 'Weib',
        class: 'white'
      },
      {
        id: 14,
        name: 'Metalic',
        class: 'metalic'
      }
    ]
  }),
  components: {
    CheckboxesColored
  }
}
</script>

<style scoped>

</style>
