<template>
    <div class="filters">
      <h2 class="filter-header">Umwelt</h2>
      <div class="row bottom-md">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <Select :title="'Schadstoffklasse ab'" :type="'categoryFrom'" :options="categoriesFrom"/>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <Select :title="'Umweltplakette ab'" :type="'categoryTo'" :options="categoriesTo"/>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="checkbox-wrapper">
            <input type="checkbox" id="partikelfilter" v-model="filter">
            <label for="partikelfilter">Partikelfilter</label>
          </div>
        </div>
      </div>
    </div> 
</template>

<script>
import Select from "./filters/Select.vue"

export default {
  name: 'CarEnviroment',
  data:() => ({
    categoriesFrom: [
      {
        id: 1,
        name: 'Beliebig'
      }
    ],
    categoriesTo: [
      {
        id: 1,
        name: 'Beliebig'
      }
    ],
    filter: false
  }),
  watch: {
    filter() {
      this.$store.dispatch('changeFilters', {'partikelfilter': this.filter});      
    }
  },
  components: {
    Select
  },
  mounted() {
      this.$store.dispatch('changeFilters', {'partikelfilter': this.filter});          
  }
}
</script>

<style scoped>

</style>
