<template>
    <div class="filters">
      <h2 class="filter-header">Fahrzeughistorie</h2>
      <Checkboxes :type="'history'" :title="''" :checkboxes="historyTypes"/>
    </div>  
</template>

<script>
import Checkboxes from './filters/Checkboxes.vue'

export default {
  name: 'CarHistory',
  data:() => ({
    historyTypes: [
      {
        id: 1,
        name: 'Nichtraucher-Fahzeug'
      },
      {
        id: 2,
        name: 'Scheckheftgepflegt'
      },
      {
        id: 3,
        name: 'Jahreswagen'
      },
      {
        id: 4,
        name: 'Tageszelassung'
      },
      {
        id: 5,
        name: 'Gebrauchtwagen'
      },
    ]
  }),
  components: {
    Checkboxes
  }
}
</script>

<style scoped>

</style>
