<template>
    <div class="filters">
      <h2 class="filter-header">Standort</h2>
      <Checkboxes :type="'location'" :title="'Location in Germany'" :checkboxes="locations"/>
    </div>
  
</template>

<script>
import Checkboxes from './filters/Checkboxes.vue'

export default {
  name: 'CarMark',
  data:() => ({
      locations: [
          {
              id: 1,
              name: 'Garching bei Munchen'
          },
          {
              id: 2,
              name: 'Numberg'
          },
          {
              id: 3,
              name: 'Frankfurt am Main'
          },
          {
              id: 4,
              name: 'Berlin'
          },
          {
              id: 5,
              name: 'Eching bei Munchen'
          }
      ]
  }),
  components: {
      Checkboxes
  }
}
</script>

<style scoped>

</style>
