<template>
    <div class="filters">
      <h2 class="filter-header">Motor</h2>
      <Checkboxes :type="'gas'" :title="'Kraftstoffart'" :checkboxes="gases"/>
      <Checkboxes :type="'transmission'" :title="'Getriebe'" :checkboxes="transmissions"/>
      <div class="row bottom-md">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <Select :title="'Leistung'" :type="'powerFrom'" :options="powerTypesFrom"/>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <Select :title="''" :type="'powerTo'" :options="powerTypesTo"/>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="box">
            <div class="row">
              <div class="radio-wrapper col-md-4 col-md-offset-2 col-sm-12 col-xs-12">
                <input type="radio" name="metrics" id="ps" value="ps" v-model="metrics">
                <label for="ps">PS</label>
              </div>
              <div class="radio-wrapper col-md-4 col-sm-12 col-xs-12">
                <input type="radio" name="metrics" id="kw" value="kw" v-model="metrics">
                <label for="kw">kw</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import Checkboxes from './filters/Checkboxes.vue'
import Select from "./filters/Select.vue"

export default {
  name: 'CarMotor',
  data:() => ({
    metrics: 'ps',
    powerTypesFrom: [
      {
        id: 1,
        name: 'von'
      }
    ],
    powerTypesTo: [
      {
        id: 1,
        name: 'bis'
      }
    ],
    gases: [
      {
        id: 1,
        name: 'Benzin'
      },
      {
        id: 2,
        name: 'Diesel'
      },
      {
        id: 3,
        name: 'Elektro'
      },
      {
        id: 4,
        name: 'Hybrid'
      },
      {
        id: 5,
        name: 'Gas LPG/CNG'
      },
      {
        id: 6,
        name: 'Andere'
      }
    ],
    transmissions: [
      {
        id: 1,
        name: 'Schaltgetriebe'
      },
      {
        id: 2,
        name: 'Halbautomatik'
      },
      {
        id: 3,
        name: 'Automatik'
      }
    ]
  }),
  watch: {
    metrics() {
      this.$store.dispatch('changeFilters', {'metrics': this.metrics});            
    }
  },
  components: {
    Checkboxes,
    Select
  },
  mounted() {
      this.$store.dispatch('changeFilters', {'metrics': this.metrics});                
  }
}
</script>

<style scoped>

</style>
