<template>
    <div class="filters">
      <h2 class="filter-header">Marke, Modell</h2>
      <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12">
          <Select :title="'Marke'" :type="'mark'" :options="marks"/>
        </div>
        <div class="col-md-5 col-md-offset-1 col-sm-12 col-xs-12">
          <Select :title="'Modell'" :type="'model'" :options="models"/>
        </div>
      </div>
      <a href="#"><i class="fa fa-plus"></i> Weitere Fahzeuge hinzufugen</a>
    </div>
  
</template>

<script>
import Select from "./filters/Select.vue"

export default {
  name: 'CarMark',
  data:() => ({
    marks: [
      {
        id: 1,
        name: 'Audi'
      }
    ],
    models: [
      {
        id: 1,
        name: 'A3'
      }
    ]
  }),
  components: {
    Select
  }
}
</script>

<style scoped>
  a {
    text-decoration: none;
    color: #486794;
    display: block;
    margin-top: 20px;
  }
  a i {
    color: #f48425;
    margin-right: 5px;
  }
</style>
