<template>
    <div class="filters">
      <h2 class="filter-header">Fahrzeugtyp</h2>
      <div class="filters__items">
        <div class="row bottom-md">
          <div class="col-md-4 col-sm-12 col-xs-12">
            <Select :title="'Anzahi Sitzplatze'" :type="'seatsCountFrom'" :options="seatsCountFrom"/>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <Select :title="''" :type="'seatsCountTo'" :options="seatsCountTo"/>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <Select :title="'Anzahi Turen'" :type="'doorsCount'" :options="doorsCount"/>
          </div>
        </div>
      </div>
      <CheckboxesImage :title="'Available vehicle types'" :type="'vehicle-types'" :checkboxes="types"/>      
    </div>
</template>

<script>
import Select from "./filters/Select.vue"
import CheckboxesImage from "./filters/CheckboxesImage.vue"

export default {
  name: 'CarType',
  data:() => ({
    seatsCountFrom: [
      {
        id: 1,
        name: 'von'
      }
    ],
    seatsCountTo: [
      {
        id: 1,
        name: 'bis'
      }
    ],
    doorsCount: [
      {
        id: 1,
        name: 'Beliebig'
      }
    ],
    types: [
      {
        id: 1,
        name: 'Cabrio',
        img: 'cp-cabrio.png'
      },
      {
        id: 2,
        name: 'Gelandewagen',
        img: 'cp-suv.png'
      },
      {
        id: 3,
        name: 'Kleinwagen',
        img: 'cp-kleinwagen.png'
      },
      {
        id: 4,
        name: 'Kombi',
        img: 'cp-kombi.png'
      },
      {
        id: 5,
        name: 'Limousine',
        img: 'cp-limousine.png'
      },
      {
        id: 6,
        name: 'Coupe',
        img: 'cp-coupe.png'
      },
      {
        id: 7,
        name: 'Van/Minibus',
        img: 'cp-pickup.png'
      },
      {
        id: 8,
        name: 'Transporter',
        img: 'cp-transporter.png'
      },
      {
        id: 9,
        name: 'Andere',
        img: ''
      }
    ]
  }),
  components: {
    Select,
    CheckboxesImage
  }
}
</script>

<style scoped>

</style>
