<template>
    <div class="filters">
      <h2 class="filter-header">Ausstattung</h2>
      <Radios :type="'conditioning'" :title="'Klimatisierung'" :radios="airConditionings"/>
      <Checkboxes :type="'decorations'" :title="'Innenausstatung'" :checkboxes="decorations"/>
      <Radios :type="'seats'" :title="'Elektr,Verstellb.Sitze'" :radios="seats"/>
      <Radios :type="'heatedSeats'" :title="'Sitzheizung'" :radios="heatedSeats"/>
      <Checkboxes :type="'safety'" :title="'Sicherheit'" :checkboxes="safetyTips"/> 
      <Checkboxes :type="'sport'" :title="'Sport'" :checkboxes="sportTips"/>            
      <Checkboxes :type="'extra'" :title="'Extras'" :checkboxes="extras"/>            
      <Checkboxes :type="'interior'" :title="'Innenausstattung'" :checkboxes="interiorTips"/>                             
    </div>
</template>

<script>
import Checkboxes from './filters/Checkboxes.vue'
import Radios from './filters/Radios.vue'

export default {
  name: 'CarTips',
  data:() => ({
    airConditionings: [
      {
        id: 1,
        name: 'Klimaanlange'
      },
      {
        id: 2,
        name: 'Klimaautomatik'
      }
    ],
    decorations: [
      {
        id: 1,
        name: 'Bluetooth'
      },
      {
        id: 2,
        name: 'Bordcomputer'
      },
      {
        id: 3,
        name: 'Head-Up Display'
      },
      {
        id: 4,
        name: 'Isofix'
      },
      {
        id: 5,
        name: 'Multifunktionslenkrad'
      },
      {
        id: 6,
        name: 'Navigationssystem'
      },
      {
        id: 7,
        name: 'Regensensor'
      },
      {
        id: 8,
        name: 'Schibedach'
      },
      {
        id: 9,
        name: 'Skisack'
      },
      {
        id: 10,
        name: 'Standheizung'
      },
      {
        id: 11,
        name: 'Start/Stopp-Automatik'
      },
      {
        id: 12,
        name: 'Tempomat'
      }
    ],
    seats: [
      {
        id: 1,
        name: 'vorne'
      },
      {
        id: 2,
        name: 'hinte'
      }
    ],
    heatedSeats: [
      {
        id: 1,
        name: 'vorne'
      },
      {
        id: 2,
        name: 'hinte'
      }
    ],
    safetyTips: [
      {
        id: 1,
        name: 'Allradantrieb'
      },
      {
        id: 2,
        name: 'ESP'
      },
      {
        id: 3,
        name: 'Kurvenlicht'
      },
      {
        id: 4,
        name: 'Lechtsensor'
      },
      {
        id: 5,
        name: 'Nebelscheinwerfer'
      },
      {
        id: 6,
        name: 'Tagfahrlicht'
      },
      {
        id: 7,
        name: 'Traktionskotrolle'
      },
      {
        id: 8,
        name: 'Xenonscheinwerfer'
      }
    ],
    sportTips: [
      {
        id: 1,
        name: 'Sportfahrwerk'
      },
      {
        id: 2,
        name: 'Sportpaket'
      },
      {
        id: 3,
        name: 'Sportsitze'
      }
    ],
    extras: [
      {
        id: 1,
        name: 'Anhangerkupplung'
      },
      {
        id: 2,
        name: 'Leichmetallfelgen'
      },
      {
        id: 3,
        name: 'Panorama-Dach'
      }
    ],
    interiorTips: [
      {
        id: 1,
        name: 'Vollleder'
      },
      {
        id: 2,
        name: 'Teilleder'
      },
      {
        id: 3,
        name: 'Stoff'
      },
      {
        id: 4,
        name: 'Alcantara'
      },
      {
        id: 5,
        name: 'Andere'
      }
    ]
  }),
  components: {
    Checkboxes,
    Radios
  }
}
</script>

<style scoped>

</style>
