<template>
  <div class="filters__items">
    <label for="">{{ title }}</label>
    <div class="row">
      <div class="checkbox-wrapper col-md-4 col-sm-6 col-xs-12" v-for="checkbox in checkboxes" :key="checkbox.id">
        <input type="checkbox" :id="type+checkbox.id" :value="checkbox.id" v-model="res">
        <label :for="type+checkbox.id">{{ checkbox.name }}</label>
      </div>
    </div>
  </div>
  
</template>

<script>
export default {
  name: 'Checkboxes',
    data:() => ({
      res: []
    }),
    watch: {
      res() {
        this.$store.dispatch('changeFilters', {[this.type]: this.res});        
      }
    },
    props: {
        title: {
            type: String
        },
        type: {
            type: String
        },
        checkboxes: {
            type: Array
        }
    },
    mounted() {
        this.$store.dispatch('changeFilters', {[this.type]: this.res});
    }
}
</script>

<style scoped>

</style>
