<template>
  <div class="filters__items">
    <label for="">{{ title }}</label>
    <div class="row checkbox-wrapper_image_container">
      <div class="checkbox-wrapper_image" v-for="checkbox in checkboxes" :key="checkbox.id">
        <input type="checkbox" :id="type+checkbox.id" :value="checkbox.id" v-model="res">
        <label :for="type+checkbox.id">
            <img :src="`/static/${checkbox.img}`" alt="">            
            {{ checkbox.name }}
        </label>
      </div>
    </div>
  </div>
  
</template>

<script>
export default {
  name: 'Checkboxes',
    data:() => ({
      res: []
    }),
    watch: {
      res() {
        this.$store.dispatch('changeFilters', {[this.type]: this.res});        
      }
    },
    props: {
        title: {
            type: String
        },
        type: {
            type: String
        },
        checkboxes: {
            type: Array
        }
    },
    mounted() {
        this.$store.dispatch('changeFilters', {[this.type]: this.res});
    }
}
</script>

<style scoped>
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .checkbox-wrapper_image_container {
        display: flex;
        flex-wrap: wrap;
    }
    .checkbox-wrapper_image {
        position: relative;
        padding-right: 30px;
    }
    .checkbox-wrapper_image input {
        opacity: 0;
        position: absolute;
    }
    .checkbox-wrapper_image label {
        display: block;
        padding: 7px;
        border: 1px solid #acacb6;
        border-radius: 3px;
        transition: all .3s;
        cursor: pointer;
        height: 38px;
        box-sizing: border-box;
    }
    .checkbox-wrapper_image label img {
        max-height: 100%;
        vertical-align: top;
        margin-right: 1px;
        filter: grayscale(100%);
        transition: all .3s;
        transform: scaleX(-1);        
    }    
    .checkbox-wrapper_image input:checked + label {
        color: #f38120;
        border: 1px solid #f38120;
    }
    .checkbox-wrapper_image input:checked + label img {
        filter: none;
    }
</style>
