<template>
  <div class="filters__items">
    <label for="">{{ title }}</label>
    <div class="row seven-cols">
      <div class="checkbox-wrapper col-md-1 col-sm-4 col-xs-12" v-for="checkbox in checkboxes" :key="checkbox.id">
        <input type="checkbox" :id="type+checkbox.id" :value="checkbox.id" v-model="res">
        <label :for="type+checkbox.id" :class="checkbox.class">{{ checkbox.name }}</label>
      </div>
    </div>
  </div>
  
</template>

<script>
export default {
  name: 'CheckboxesColored',
    data:() => ({
      res: []
    }),
    watch: {
      res() {
        this.$store.dispatch('changeFilters', {[this.type]: this.res});        
      }
    },
    props: {
        title: {
            type: String
        },
        type: {
            type: String
        },
        checkboxes: {
            type: Array
        }
    },
    mounted() {
        this.$store.dispatch('changeFilters', {[this.type]: this.res});
    }
}
</script>

<style scoped>
    .checkbox-wrapper input:checked + label:before {
        border: none;
    }

    .checkbox-wrapper label:before {
        width: 18px;
        height: 18px;
        border: none;
    }

    .black:before {
        background-color: #000;
    }
    .grey:before {
        background-color: #999999;
    }
    .blue:before {
        background-color: #3979c3;
    }
    .green:before {
        background-color: #19a653;
    }
    .brown:before {
        background-color: #664b18;
    }
    .light-brown:before {
        background-color: #dac6a5;
    }
    .yellow:before {
        background-color: #e7d81f;
    }
    .gold:before {
         background: linear-gradient(to bottom, #f7e541 , #d9ab20);
    }
    .orange:before {
        background-color: #f38120;
    }
    .orange:after {
        color: #fff;
    }
    .red:before {
        background-color: #d0021b;
    }
    .violet:before {
        background-color: #813cbd;
    }
    .silver:before {
         background: linear-gradient(to bottom, #e4e1e1 , #c4c1c1);
    }
    .white:before {
        border: 1px solid #acacb6 !important;
        width: 16px !important;
        height: 16px !important;
    }
    .metalic:before {
        border: 1px solid #acacb6 !important;
        width: 16px !important;
        height: 16px !important;
    }
</style>
