<template>
  <div class="filters__items">
    <label for="">{{ title }}</label>
    <div class="row">
      <div class="radio-wrapper col-md-4 col-sm-6 col-xs-12" v-for="radio in radios" :key="radio.id">
        <input type="radio" :name="type" :id="type+radio.id" :value="radio.id" v-model="res">
        <label :for="type+radio.id">{{ radio.name }}</label>
      </div>
    </div>
  </div>
  
</template>

<script>
import store from '../../storage/store'

export default {
  store,
  name: 'Radios',
    data:() => ({
      resValue: null
    }),
    computed: {
      res: {
        get() {
          return this.resValue || this.radios[0].id;
        },
        set(newValue) {
          this.resValue = newValue;
        }
      }
    },
    watch: {
      resValue() {
        this.$store.dispatch('changeFilters', {[this.type]: this.resValue});
      }
    },
    props: {
        title: {
            type: String
        },
        type: {
            type: String
        },
        radios: {
            type: Array
        }
    },
    mounted() {
        this.$store.dispatch('changeFilters', {[this.type]: this.radios[0].id});
    }
}
</script>

<style scoped>

</style>
