<template>
  <div class="filters__items">
    <label for="">{{ title }}</label>
    <div class="select-wrapper">
      <select v-model="res">
          <option v-for="option in options" :key="option.id" :value="option.id">{{ option.name }}</option>
      </select>
    </div>
  </div>
  
</template>

<script>
export default {
  name: 'Select',
    data:() => ({
      resValue: null
    }),
    computed: {
      res: {
        get() {
          return this.resValue || this.options[0].id;
        },
        set(newValue) {
          this.resValue = newValue;
        }
      }
    },
    watch: {
      resValue() {
        this.$store.dispatch('changeFilters', {[this.type]: this.resValue});
      }
    },
    props: {
        title: {
            type: String
        },
        type: {
            type: String
        },
        options: {
            type: Array
        }
    },
    mounted() {
        this.$store.dispatch('changeFilters', {[this.type]: this.options[0].id});
    }
}
</script>

<style scoped>

</style>
