<template>
  <div id="app" class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
          <CarMark/>
          <CarMotor/>
          <CarLocation/>
          <CarType/>
          <CarColor/>
          <CarTips/>
          <CarEnviroment/>
          <CarHistory/>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <button @click.prevent="toggleModal" class="btn_main">99 autos gefunden</button>
        </div>
      </div>
      <transition name="fade"> 
        <Modal v-if="modalOpened" :filters="filters" @closeModal="toggleModal"/>
      </transition>
  </div>
</template>

<script>
  import CarMark from './components/CarMark'
  import CarMotor from './components/CarMotor'
  import CarLocation from './components/CarLocation'
  import CarType from './components/CarType'
  import CarColor from './components/CarColor'  
  import CarTips from './components/CarTips'    
  import CarEnviroment from './components/CarEnviroment'    
  import CarHistory from './components/CarHistory'  
  
  import Modal from './components/modal/Modal.vue'

  import store from './storage/store'

  export default {
    store,
    name: 'App',
    data:() => ({
      modalOpened: false
    }),
    computed: {
      filters() {
        return this.$store.state.filters.filters;
      }
    },
    methods: {
      toggleModal() {
        this.modalOpened = !this.modalOpened;
      }
    },
    components: {
      CarMark,
      CarMotor,
      CarLocation,
      CarType,
      CarColor,
      CarTips,
      CarEnviroment,
      CarHistory,
      Modal
    }
  }
</script>

<style>
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
  }

  body {
    font-family: Lato;
    color: #403e51;
    margin: 0;
  }

  .filter-header {
    margin: 40px 0 20px 0;
    border-bottom: 1px solid #dbdbe0;
    padding-bottom: 20px;
  }

  .filters__items > label {
    font-weight: 600;
    font-size: 15px;
  }

  .filters,
  .filters__items {
    margin-bottom: 15px;
  }

  label {
    display: inline-block;
    margin-bottom: .6rem;
  }


  .select-wrapper {
      position: relative;
  }

  select {
    padding: 13px 35px 13px 13px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #797789;
    background-color: #e6e6ed;
    width: 100%;
  }

  .select-wrapper:before {
    position: absolute;
    font-family: 'FontAwesome';
    top: 10px;
    right: 10px;
    content: "\f107";
    font-size: 25px;
    color: #676b73;
  }

  select::-ms-expand { 
      display: none; /* remove default arrow on ie10 and ie11 */
  }

  @media screen and (min-width:0\0) {
      select {
          background:none\9;
          padding: 5px\9;
      } 
  }

  .checkbox-wrapper input {
    opacity: 0;
    position: absolute;
  }

  .checkbox-wrapper label {
    position: relative;
    color: #36363d;
    padding-left: 30px;
    cursor: pointer;
  }

  .checkbox-wrapper label:before {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #acacb6;
    border-radius: 3px;
  }

  .checkbox-wrapper label:after {
    position: absolute;
    font-family: 'FontAwesome';
    content: '\f00c';
    left: 2px;
    top: 2px;
    opacity: 0;
    transition: opacity .3s;
    color: #f48425;
    font-size: 14px;
  }

  .checkbox-wrapper input:checked + label:after {
    opacity: 1;
  }

  .checkbox-wrapper input:checked + label:before {
    border: 1px solid #f48425;
  }

  .radio-wrapper,
  .checkbox-wrapper {
    min-height: 2.0rem;
  }
  .radio-wrapper input {
    opacity: 0;
    position: absolute;
  }

  .radio-wrapper label {
    position: relative;
    color: #36363d;
    padding-left: 30px;
    cursor: pointer;
  }

  .radio-wrapper label:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: -1px;
    left: 0;
    border: 1px solid #acacb6;
    border-radius: 50%;
  }

  .radio-wrapper label:after {
    position: absolute;
    content: '\25CF';
    left: 5px;
    top: -2px;
    opacity: 0;
    transition: opacity .3s;
    color: #f48425;
    font-size: 16px;
  }

  .radio-wrapper input:checked + label:after {
    opacity: 1;
  }

  .radio-wrapper input:checked + label:before {
    border: 1px solid #f48425;
  }

  .btn_main {
    max-width: 270px;
    margin: 40px auto;
    background-color: #f48425;
    color: #fff;
    padding: 20px 30px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 30px;
    outline: none;
    display: block;
  }

  @media (min-width: 768px){
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1  {
      flex-basis: 14.285714285714285714285714285714%;
      max-width: 14.285714285714285714285714285714%;
    }
  }

  @media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
      flex-basis: 14.285714285714285714285714285714%;
      max-width: 14.285714285714285714285714285714%;
    }
  }

  .filters__items .row {
    margin-right: -.5rem;
    margin-left: -.5rem;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }
</style>
